.btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fb565a;
    font-size: 15px;
    padding-bottom: 18px;
    padding-top: 18px;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
}