.catalogue-header{
    background-color: #eee;
    min-height: 220px;
    margin-bottom: 55px;
    h2{
        font-weight: bold;
        width: 805px;
        font-size: 55px;
        margin-right: auto;
        margin-left: auto;
    }
}