.filter-panel{
    width: 260px;
    margin-right: 130px;
    &__show{
        text-transform: uppercase;
        font-size: 18px;
        width: 260px;
        height: 50px;
        border: none;
        background-color: #f1f1f1;
        margin-top: 35px;
        border-radius: 3px;
        cursor: pointer;
        &:hover, 
        &:focus{
            background-color: #dfdfdf;
        }
        &:active{
            color: #959595;
        }
    }
}
.filter-item{
    margin:0;
    padding:0;
    border: none;
    legend{
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
    }
}
.range-filter{
    width: 100%;
    margin-top: 49px;
}

.range-controls{
    height: 41px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    .scale{
        height: 2px;
        background-color: #d7dcde;
    }
    .bar{
        width: 70%;
        height: 2px;
        background-color: #00ca74;
    }
    .toggle{
        width: 4px;
        height: 4px;
        padding: 0;
        border: 8px solid #ababab;
        border-radius: 50%;
        box-shadow: 0 2px 1px 0 #cfcfcf;
        position: absolute;
        top: 31px;
        left: 0;
        cursor: pointer;
    }
    .toggle-min{
        left: 18px;
    }
    .toggle-max{
        left: 160px;
    }
}
.price-controls{
    font-size: 0;
    margin-bottom: 60px;
    label{
        display: inline-block;
        width: 50%;
        font-size: 16px;
        text-transform: uppercase;
    }
    input{
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        text-align: center;
        color: #283136;
        width: 60px;
        padding: 8px 10px;
        border: none;
        border-radius: 5px;
        background-color: #f1f1f1;
        margin-left: 10px;
    }
}
.max-price{
    text-align: right;
}