.main-cart {
    width: 120px;
    text-transform: uppercase;
    margin-left: 40px;
    color: #000;
    text-align: right;
    align-self: center;
    background: url('../svg/cart-icon.svg') no-repeat left center;
	margin-bottom: 6px;
    &:hover{
        color: #fb565a;
    }
    &:active{
        color: #bcbcbc;
    }
}